/* --------------------------------------------------------------------------------
*
*   menu
*
-------------------------------------------------------------------------------- */
.ui__menu {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.85);
  z-index: 9999;
  
  background: rgba(0, 0, 0, .85) url('/assets/img/top/bg_menu.png');
  background-size: 375px;
  background-position: 0;

  // .itemWrap {padding-left: 45px;}
  .item {
    @include fz(36);
    font-weight: 100;
    @extend %alegsc;
    letter-spacing: 0.12em;
    margin-bottom: 48px;
    
    color: #fff;
  }
  .item:last-child {
    margin: 0;
  }

  /*
  *
  *   close
  *
  */
  .ui__menu_btn_c {
    width: 64px;
    height: 64px;
    
    margin-top: 200px;
    top: 50%;
    
    .bar {
      width: 16px;
      height: 1px;
      background-color: #fff;
      
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -8px;
    }
    .bar:nth-child(1){
      transform: rotate(45deg);
    }
    .bar:nth-child(2){
      transform: rotate(-45deg);
    }
  }
}

/* --------------------------------------------------------------------------------
*
*   row
*
-------------------------------------------------------------------------------- */
      
.row {
    
    font-size: 0;
    text-align: center;

    .item {
        display: inline-block;
    }

    &.row_col2 > .item {
        width: 50%;
    }
    &.row_col3 > .item {
        width: 33.3333%;
    }
    &.row_col4 > .item {
        width: 25%;
    }

    .item:last-child {
        margin-right: 0;
        padding-right: 0;
    }

}

/* --------------------------------------------------------------------------------
*
*   table
*
-------------------------------------------------------------------------------- */

.table {
  width: 100%;
  margin-bottom: 30px;
  
  border-collapse: collapse;
  border-spacing: 0; 
  
  .tr {
      position: static;
  }
  
  .td {
    padding: 9px 20px 8px;
    line-height: 24px;
    border: 1px solid #cccccc;
    
    position: static;
  }

  .map {
      padding: 15px 20px;
  }
  #map {
      margin-top: 5px;
      margin-bottom: 10px;
  }

  .td:nth-child(1) {
    width: 25%;
    background-color: #f6f6f6;
  }

}

.table__wrap {
    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 50px;
    
    @include media-max(1100px) {
      padding: 0 30px;
    }
    
    .businessOurs p {
        line-height: 20px;
        margin-bottom: 20px;
    }
    .businessOurs p:last-child {
        margin-bottom: 0;
    }

    .price {
        padding-right: 40px;
    }
}


/* --------------------------------------------------------------------------------
*
*   sp Menu
*
-------------------------------------------------------------------------------- */
        
.menu_button {
    position: absolute;
    top: 19px;
    left: 25px;
    
    display: none;
    
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    
    .menu_button_inner {
        top: 20px;
        left: 10px;
    }
}

.type-1 {
  span {
    transition: all 0.3s;
    transform: rotate(0deg);
    
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;
    top: 50%;
  }
  .top {
    transform: translateY(-3px);
  }
  .bottom {
    transform: translateY(3px);
  }
}

.type-1.is-open {
  .middle {
    background: rgba(255, 255, 255, 0);
  }
  .top {
    transform: rotate(-45deg) translateY(0);
  }
  .bottom {
    transform: rotate(45deg) translate(-1px,-1px);
  }
}


/* --------------------------------------------------------------------------------
*
*   loading
*
-------------------------------------------------------------------------------- */
      
.spinner__wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  
  margin-left: -20px;
  margin-top: -20px;
}

/* --------------------------------------------------------------------------------
*
*   error
*
-------------------------------------------------------------------------------- */
.error {
  // margin-top: 10px;
  // color: red;
}

/* --------------------------------------------------------------------------------
*
*   copy
*
-------------------------------------------------------------------------------- */
#copy {
  text-align: center;
  line-height: 1;
}

/* --------------------------------------------------------------------------------
*
*   bread
*
-------------------------------------------------------------------------------- */
.bread {
  position: absolute;
  top: 56px;
  left: 27px;
  font-size: 13px;
  
  z-index: 5;
  
  a {
    color: #fff;
  }

  .arrow {
    position: relative;
    top: -1px;
  }
}


/* --------------------------------------------------------------------------------
*
*   overlay
*
-------------------------------------------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

/* --------------------------------------------------------------------------------
*
*   checkbox
*
-------------------------------------------------------------------------------- */
  
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  background: #fff;
  box-sizing:border-box;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 14px;
  color: #00cdff;
  transition: all .2s;
}


/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}


/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}


/* --------------------------------------------------------------------------------
*
*   select box
*
-------------------------------------------------------------------------------- */
      
.selectBox {display: none;}
.selectBoxArea {
  width: 410px;
  height: 30px;

  box-sizing: border-box;
  border: 1px solid #bebebe;
  
  .selectBoxArea__display {
    height: 100%;
    
    padding-left: 20px;

    line-height: 30px;
  }
  .selectBoxArea__listWrap {
    position: relative;
    z-index: 99999;
    left: -1px;
    display: none;
    overflow-y: scroll;
    box-sizing: border-box;
    width: calc(100% + 2px);
    height: 140px;
    border: 1px solid #bebebe;
    background-color: #fff;
  }
  .selectBoxArea__list {      
    height: 100%;
    padding-top: 3px;
  }
  .selectBoxArea__listItem {
    padding: 2px 0;
    line-height: 25px;
    
    .item {
      display: block;
      box-sizing: border-box;
      padding-left: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .item:hover {
      background-color: #eee;
    }
  }

}


/* --------------------------------------------------------------------------------
*
*   その他
*
-------------------------------------------------------------------------------- */

/*
*
*  transition 無効化s
*
*/
  .preload * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
  }

/*
*
*   triangle
*
*/

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #eee transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.triangle.over {
    z-index: 2;
}

/*
*
*   shadow
*
*/
.shadow {
  -webkit-box-shadow: 4px 2px 10px 1px #ccc inset;
  -moz-box-shadow: 4px 2px 10px 1px #ccc inset;
  box-shadow: 4px 2px 10px 1px #ccc inset;

}

/*
*
*   design(見本)
*
*/

.sample {
  display: none;
  position: absolute;
  opacity: 0.7;
  top: 0px;
  z-index: 2;
}

/* --------------------------------------------------------------------------------
*
*   font-size
*
-------------------------------------------------------------------------------- */

/* Font-Size */
  .fz10 { @include fz(10); }
  .fz12 { @include fz(12); }
  .fz14 { @include fz(14); }
  .fz16 { @include fz(16); }
  .fz20 { @include fz(20); }
  .fz22 { @include fz(22); }
  .fz30 { @include fz(30); }
  .fz40 { @include fz(40); }
  .fz50 { @include fz(50); }
  .fz60 { @include fz(60); }
  .fz70 { @include fz(70); }
  .fz80 { @include fz(80); }
  .fz90 { @include fz(90); }

/* Margin-Top & Padding-Top */
  .mt00 { margin-top:  0px !important; }    .pt00 { padding-top:  0px !important; }
  .mt05 { margin-top:  5px !important; }    .pt05 { padding-top:  5px !important; }
  .mt10 { margin-top: 10px !important; }    .pt10 { padding-top: 10px !important; }
  .mt15 { margin-top: 15px !important; }    .pt15 { padding-top: 15px !important; }
  .mt20 { margin-top: 20px !important; }    .pt20 { padding-top: 20px !important; }
  .mt25 { margin-top: 25px !important; }    .pt25 { padding-top: 25px !important; }
  .mt30 { margin-top: 30px !important; }    .pt30 { padding-top: 30px !important; }
  .mt35 { margin-top: 35px !important; }    .pt35 { padding-top: 35px !important; }
  .mt40 { margin-top: 40px !important; }    .pt40 { padding-top: 40px !important; }
  .mt45 { margin-top: 45px !important; }    .pt45 { padding-top: 45px !important; }
  .mt50 { margin-top: 50px !important; }    .pt50 { padding-top: 50px !important; }
  .mt55 { margin-top: 55px !important; }    .pt55 { padding-top: 55px !important; }
  .mt60 { margin-top: 60px !important; }    .pt60 { padding-top: 60px !important; }
  .mt65 { margin-top: 65px !important; }    .pt65 { padding-top: 65px !important; }
  .mt70 { margin-top: 70px !important; }    .pt70 { padding-top: 70px !important; }
  .mt75 { margin-top: 75px !important; }    .pt75 { padding-top: 75px !important; }
  .mt80 { margin-top: 80px !important; }    .pt80 { padding-top: 80px !important; }
  .mt85 { margin-top: 85px !important; }    .pt85 { padding-top: 85px !important; }
  .mt90 { margin-top: 90px !important; }    .pt90 { padding-top: 90px !important; }
  .mt95 { margin-top: 95px !important; }    .pt95 { padding-top: 95px !important; }
  .mt100{ margin-top:100px !important; }    .pt100{ padding-top:100px !important; }

/* Margin-Right & Padding-Right */
  .mr00 { margin-right:  0px !important; }  .pr00 { padding-right:  0px !important; }
  .mr05 { margin-right:  5px !important; }  .pr05 { padding-right:  5px !important; }
  .mr10 { margin-right: 10px !important; }  .pr10 { padding-right: 10px !important; }
  .mr15 { margin-right: 15px !important; }  .pr15 { padding-right: 15px !important; }
  .mr20 { margin-right: 20px !important; }  .pr20 { padding-right: 20px !important; }
  .mr25 { margin-right: 25px !important; }  .pr25 { padding-right: 25px !important; }
  .mr30 { margin-right: 30px !important; }  .pr30 { padding-right: 30px !important; }
  .mr35 { margin-right: 35px !important; }  .pr35 { padding-right: 35px !important; }
  .mr40 { margin-right: 40px !important; }  .pr40 { padding-right: 40px !important; }
  .mr45 { margin-right: 45px !important; }  .pr45 { padding-right: 45px !important; }
  .mr50 { margin-right: 50px !important; }  .pr50 { padding-right: 50px !important; }
  .mr55 { margin-right: 55px !important; }  .pr55 { padding-right: 55px !important; }
  .mr60 { margin-right: 60px !important; }  .pr60 { padding-right: 60px !important; }
  .mr65 { margin-right: 65px !important; }  .pr65 { padding-right: 65px !important; }
  .mr70 { margin-right: 70px !important; }  .pr70 { padding-right: 70px !important; }
  .mr75 { margin-right: 75px !important; }  .pr75 { padding-right: 75px !important; }
  .mr80 { margin-right: 80px !important; }  .pr80 { padding-right: 80px !important; }
  .mr85 { margin-right: 85px !important; }  .pr85 { padding-right: 85px !important; }
  .mr90 { margin-right: 90px !important; }  .pr90 { padding-right: 90px !important; }
  .mr95 { margin-right: 95px !important; }  .pr95 { padding-right: 95px !important; }
  .mr100{ margin-right:100px !important; }  .pr100{ padding-right:100px !important; }

/* Margin-Bottom & Padding-Bottom */
  .mb00 { margin-bottom:  0px !important; } .pb00 { padding-bottom:  0px !important; }
  .mb05 { margin-bottom:  5px !important; } .pb05 { padding-bottom:  5px !important; }
  .mb10 { margin-bottom: 10px !important; } .pb10 { padding-bottom: 10px !important; }
  .mb15 { margin-bottom: 15px !important; } .pb15 { padding-bottom: 15px !important; }
  .mb20 { margin-bottom: 20px !important; } .pb20 { padding-bottom: 20px !important; }
  .mb25 { margin-bottom: 25px !important; } .pb25 { padding-bottom: 25px !important; }
  .mb30 { margin-bottom: 30px !important; } .pb30 { padding-bottom: 30px !important; }
  .mb35 { margin-bottom: 35px !important; } .pb35 { padding-bottom: 35px !important; }
  .mb40 { margin-bottom: 40px !important; } .pb40 { padding-bottom: 40px !important; }
  .mb45 { margin-bottom: 45px !important; } .pb45 { padding-bottom: 45px !important; }
  .mb50 { margin-bottom: 50px !important; } .pb50 { padding-bottom: 50px !important; }
  .mb55 { margin-bottom: 55px !important; } .pb55 { padding-bottom: 55px !important; }
  .mb60 { margin-bottom: 60px !important; } .pb60 { padding-bottom: 60px !important; }
  .mb65 { margin-bottom: 65px !important; } .pb65 { padding-bottom: 65px !important; }
  .mb70 { margin-bottom: 70px !important; } .pb70 { padding-bottom: 70px !important; }
  .mb75 { margin-bottom: 75px !important; } .pb75 { padding-bottom: 75px !important; }
  .mb80 { margin-bottom: 80px !important; } .pb80 { padding-bottom: 80px !important; }
  .mb85 { margin-bottom: 85px !important; } .pb85 { padding-bottom: 85px !important; }
  .mb90 { margin-bottom: 90px !important; } .pb90 { padding-bottom: 90px !important; }
  .mb95 { margin-bottom: 95px !important; } .pb95 { padding-bottom: 95px !important; }
  .mb100{ margin-bottom:100px !important; } .pb100{ padding-bottom:100px !important; }

/* Margin-Left & Padding-Left */
  .ml00 { margin-left:  0px !important; }   .pl00 { padding-left:  0px !important; }
  .ml05 { margin-left:  5px !important; }   .pl05 { padding-left:  5px !important; }
  .ml10 { margin-left: 10px !important; }   .pl10 { padding-left: 10px !important; }
  .ml15 { margin-left: 15px !important; }   .pl15 { padding-left: 15px !important; }
  .ml20 { margin-left: 20px !important; }   .pl20 { padding-left: 20px !important; }
  .ml25 { margin-left: 25px !important; }   .pl25 { padding-left: 25px !important; }
  .ml30 { margin-left: 30px !important; }   .pl30 { padding-left: 30px !important; }
  .ml35 { margin-left: 35px !important; }   .pl35 { padding-left: 35px !important; }
  .ml40 { margin-left: 40px !important; }   .pl40 { padding-left: 40px !important; }
  .ml45 { margin-left: 45px !important; }   .pl45 { padding-left: 45px !important; }
  .ml50 { margin-left: 50px !important; }   .pl50 { padding-left: 50px !important; }
  .ml55 { margin-left: 55px !important; }   .pl55 { padding-left: 55px !important; }
  .ml60 { margin-left: 60px !important; }   .pl60 { padding-left: 60px !important; }
  .ml65 { margin-left: 65px !important; }   .pl65 { padding-left: 65px !important; }
  .ml70 { margin-left: 70px !important; }   .pl70 { padding-left: 70px !important; }
  .ml75 { margin-left: 75px !important; }   .pl75 { padding-left: 75px !important; }
  .ml80 { margin-left: 80px !important; }   .pl80 { padding-left: 80px !important; }
  .ml85 { margin-left: 85px !important; }   .pl85 { padding-left: 85px !important; }
  .ml90 { margin-left: 90px !important; }   .pl90 { padding-left: 90px !important; }
  .ml95 { margin-left: 95px !important; }   .pl95 { padding-left: 95px !important; }
  .ml100{ margin-left:100px !important; }   .pl100{ padding-left:100px !important; }

/* line-height */ 
  div,p,h1,h2,h3,h4 {line-height: 1;}

/* Float */
  .fl { float: left; }        .fr { float: right; }       .cl { clear:both; }

  .fList > li,
  .fList > dt,
  .fList > dd,
  .fList > .item, {float: left;}

  .fBoth > li:first-child {float: left;} 
  .fBoth > li:last-child{float: right;}
  .fBoth > dt,
  .fBoth > .item:nth-child(1) {float: left;}
  .fBoth > dd,
  .fBoth > .item:nth-child(2) {float: right;} 

/* Clearfix*/
  .cf, .wrap, .fList { zoom:1; }
  .cf:after, .wrap:after, .fList:after, .fBoth:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }

/* TextAlign */
  .al { text-align: left; }   .ar { text-align: right; }  .ac { text-align: center; }

/* TextAlign */
  .vb { vertical-align: baseline; }

/* position relative */
  div, section, article,ul,header,footer,tr,td { position: relative;}

/* Nav*/
  .nav { zoom:1; }
  .nav:after { content:"."; display: block; height:0px; clear:both; line-height:0; visibility:hidden; }
  

/* --------------------------------------------------------------------------------
*
*   font
*
-------------------------------------------------------------------------------- */
        
.captalize {text-transform: capitalize;}
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}

/* --------------------------------------------------------------------------------
*
*   responsive
*
-------------------------------------------------------------------------------- */    

  img.fitted {
    width: 100% !important;
    height: auto !important;
  }

  img.flex {
    width:100% !important;
    height:auto !important;
  }

/* --------------------------------------------------------------------------------
*
*   overflow hidden
*
-------------------------------------------------------------------------------- */
.oh {overflow: hidden;}

/* --------------------------------------------------------------------------------
*
*   word breadk
*
-------------------------------------------------------------------------------- */
.wb {word-break: break-all;}

/* --------------------------------------------------------------------------------
*
*   font-weight
*
-------------------------------------------------------------------------------- */
.fwb {font-weight: bold;}

