/* --------------------------------------------------------------------------------
*
*   opacity
*
-------------------------------------------------------------------------------- */

.is-unvisible {
  opacity: 0 !important;
}
.is-visible {
  opacity: 1 !important;
}

/* --------------------------------------------------------------------------------
*
*   display
*
-------------------------------------------------------------------------------- */

.is-block {
  display: block !important;
}
.is-none {
  display: none !important;
}

/* --------------------------------------------------------------------------------
*
*   overflow
*
-------------------------------------------------------------------------------- */

.is-scroll {
  overflow: scroll !important;
}
.is-hidden {
  overflow: hidden !important;
}

/* --------------------------------------------------------------------------------
*
*   position
*
-------------------------------------------------------------------------------- */

.is-fixed {
  position: fixed !important;
}
.is-absolute {
  position: absolute !important;
}
.is-relative {
  position: relative !important;
}
.is-static {
  position: static !important;
}

/* --------------------------------------------------------------------------------
*
*   その他
*
-------------------------------------------------------------------------------- */
