@charset "utf-8";

#about {

  /* --------------------------------------------------------------------------------
  *
  *   header
  *
  -------------------------------------------------------------------------------- */
  
  #header {
    z-index: 1;
    mix-blend-mode: exclusion;
    
    .page {color: #fff !important;}
    .barL, .bar {background-color: #fff !important;}
  }

  
  /* --------------------------------------------------------------------------------
  *
  *   top visual
  *
  -------------------------------------------------------------------------------- */
  #topVisualWrap {

    // @include media-min('SP') {
    //  min-height: 568px;
    // }

    .bg {
      background: url(/assets/img/about/bg.png) no-repeat;
      height: 100%;
      width: 100%;
      
      position: fixed;
      left: 0;
      top: 0;
      
    }

    .pjaxMotion {
      height: 100%;
    }
    
    #topVisual {
      padding: 0 40px;
      color: #fff !important;
      mix-blend-mode: exclusion;
      
      width: 100%;
      box-sizing: border-box;
      
      z-index: 2;
      
      width: 375px;
      height: 314px;
      
      .tit {
        @include fz(36);
        font-weight: 100;
        @extend %alegsc;
        
        letter-spacing: 0.10em;
        margin-bottom: 25px;
        
        text-transform: uppercase;

        // text-align: justify;
        // text-justify: inter-ideograph;
      }
      .tit:nth-of-type(2) {letter-spacing: 0.01em;}
      .tit:nth-of-type(3) {letter-spacing: -0.05em !important;}
      .tit:nth-of-type(4) {letter-spacing: 0.03em;}
      .tit:nth-of-type(5) {letter-spacing: 0.05em;}

      .text {
       @include fz(9);
       font-weight: 400;
       @extend %noto;
       
       // position: absolute;
       // bottom: -35px;
       // left: 44px;
       letter-spacing: .04em;

      }

    }

    .barL {
      width: 1px;
      height: 32px;
      background-color: #fff;
      margin-top: 48% !important;
    }

  }  

  /* --------------------------------------------------------------------------------
  *
  *   contents
  *
  -------------------------------------------------------------------------------- */

  #contents {
    
    padding-top: 100vh;
    
    /*
    *
    *   block
    *
    */
    .block {
      
      background: rgba(63,63,63,.8);
      
      .tit {
        padding-top: 12%;
        padding-left: 25px;
        margin-bottom: 30px;
        
        @include fz(18);
        font-weight: 300;
        @extend %aleg;
        letter-spacing: 0.06em;
      }
      
    }

    /*
    *
    *   concept
    *
    */
    #concept {

      color: #fff;
    
      .text {
        padding: 0 12% 10%;
        
        @include fz(10);
        font-weight: 100;
        @extend %noto;
        letter-spacing: 0.04em;
        line-height: 2;
        
        text-align: justify;
        text-justify: inter-ideograph;
      }
      .text:last-child {
        padding-bottom: 45px;
      }
      
    }

    /*
    *
    *   member
    *
    */
    #member {

      background: rgba(255,255,255,.8);
    
      .box {
        padding: 0 12% 10%;
        
        .photo {
          float: left;
        }
        .sentence {
          padding-left: 54%;
        }

        .sentence .subTit {
          @include fz(13);
          font-weight: 500;
          @extend %noto;
          letter-spacing: 0em;
          margin-bottom: 15px;
        }

        .sentence .text {
          
          @include fz(9);
          font-weight: 100;
          @extend %noto;
          letter-spacing: 0.04em;
          line-height: 1.55;
          
          text-align: justify;
          text-justify: inter-ideograph;
            
        }
        
        .sentence .text:nth-of-type(1){
          
          margin-bottom: 15px;
            
        }
        
      }
      .block:last-child {
        // padding-bottom: 45px;
      }
      
    }

    /*
    *
    *   company
    *
    */
    #company {

      color: #fff;
    
      .text {
        padding: 0 12% 0;
        
        @include fz(10);
        font-weight: 100;
        @extend %noto;
        letter-spacing: 0.04em;
        line-height: 2;
        
        text-align: justify;
        text-justify: inter-ideograph;
      }
      
    }

    /*
    *
    *   access
    *
    */
    #access {

      color: #fff;
      padding-bottom: 60px;
      
      .tit {
        padding-top: 12%;
      }
    
      .text {
        padding: 0 12% 8%;
        
        @include fz(10);
        font-weight: 100;
        @extend %noto;
        letter-spacing: 0.04em;
        line-height: 2;
        
        text-align: justify;
        text-justify: inter-ideograph;
      }

      .map {
        margin-bottom: 30px;
        width: 295px;
        height: 255px;
        margin: 0 auto;
      }

      .barL {
        width: 1px;
        height: 32px;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      .linkBox {
        @include fz(18);
        
        .bar {
          bottom: 33px;        
        }
      }

    }

  }

  /* --------------------------------------------------------------------------------
  *
  *   landscape
  *
  -------------------------------------------------------------------------------- */
  &.landscape #member .box .sentence{padding-left: 160px !important;}
  &.landscape #topVisualWrap .pjaxMotion{height: 100vh !important;min-height: 320px !important;}
  &.landscape #contents{padding-top: 0 !important;}

}