@charset "utf-4";

@import "init/import";
@import "init/reset"; // リセットCSS、フォントサイズ

@import "base/import"; // 共通css

/* --------------------------------------------------------------------------------
*
*   contents
*
-------------------------------------------------------------------------------- */

html,body {
  height: 100%;
  // background: rgba(63,63,63,.8);
}

#header {
  z-index: 1;
  color: #fff;
  mix-blend-mode: exclusion;
  
  .logo {
    mix-blend-mode: normal;
  }
  .barL, .bar {background-color: #fff !important;}
}


#contents {
  
  /*
  *
  *   top visual
  *
  */
  #topVisualWrap {

    .bg {
      height: 100%;
      width: 100%;
      
      position: fixed;
      left: 0;
      top: 0;
    }
    
    #topVisual {
      padding: 0 40px;
      color: #000;
      mix-blend-mode: exclusion;
      
      width: 100%;
      box-sizing: border-box;
      
      z-index: 2;
      
      .tit {
        @include fz(36);
        font-weight: 100;
        @extend %alegsc;
        
        letter-spacing: 0.10em;
        margin-bottom: 25px;
        
        text-transform: uppercase;

        // text-align: justify;
        // text-justify: inter-ideograph;
      }
      .tit:nth-of-type(2) {letter-spacing: 0.01em;}
      .tit:nth-of-type(3) {letter-spacing: 0em;}
      .tit:nth-of-type(4) {letter-spacing: 0.03em;}
      .tit:nth-of-type(5) {letter-spacing: 0.05em;}

      .text {
       @include fz(9);
       font-weight: 400;
       @extend %noto;
       
       // position: absolute;
       // bottom: -35px;
       // left: 44px;
       letter-spacing: .04em;

      }

    }

    .barL {
      width: 1px;
      height: 32px;
      background-color: #000;
      bottom: 115px;
      position: absolute;
      left: 50%;
    }

  }

  /*
  *
  *   content
  *
  */
  .content {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    width: 100%;
    
    > .tit {
      padding-top: 75px;
      padding-bottom: 15px;
      text-align: center;
      line-height: 1.1;
      letter-spacing: 0.06em;
      
      @include fz(32);
      font-weight: 100;
      @extend %alegsc;
    }

    .subTit {
      padding-bottom: 22px;
      text-align: center;
      letter-spacing: 0.06em;
      
      @include fz(9);
      font-weight: 300;
      @extend %noto;
    }

    .details, .tag {
      @include fz(9);
      font-weight: 300;
      @extend %robot;
      text-align: center;
      letter-spacing: 0.06em;
      padding-bottom: 18px;
    }
    .tag {padding-bottom: 30px;}

    .imgWrap {
      .barL {
        width: 1px;
        height: 32px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 20px;
      }
    }

    /*
    *
    *   playbox
    *
    */
    .playBox {
      width: 65px;
      height: 65px;
      
      background-color: #181818;
      color: #fff;
      @include fz(9);
      font-weight: 300;
      @extend %robot;
      display: table;
      text-align: center;
      letter-spacing: 0.06em;
      position: relative;
      
      span {
        display: table-cell;
        vertical-align: middle;
      }
      
      .bar {
        width: 25px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        margin: 0 auto;
        bottom: 19px;
      }
      
    }

    /*
    *
    *   close
    *
    */
    .ui__menu_btn_c {
      width: 44px;
      height: 44px;
      
      position: absolute;
      right: 0;
      top: 59px;
      
      .bar {
        width: 16px;
        height: 1px;
        background-color: #fff;
        
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
      }
      .bar:nth-child(1){
        transform: rotate(45deg);
      }
      .bar:nth-child(2){
        transform: rotate(-45deg);
      }
    }

    /*
    *
    *   grayArea whiteArea
    *
    */
    .grayArea,.whiteArea {
      background-color: #3e3e3e;
      padding-top: 45px;
      padding-bottom: 40px;
      
      .tit, .text {
        padding: 0 40px 0;
      }
      .tit {
        margin-bottom: 25px;
        @include fz(14);
        font-weight: 400;
        @extend %noto;
        line-height: 1.42;
        letter-spacing: .04em;
      } 
      .text {
        margin-bottom: 25px;

        @include fz(10);
        font-weight: 100;
        @extend %noto;
        letter-spacing: 0.04em;
        line-height: 2;
      }

      .video {
        width: 270px;
        height: 150px;
        margin: 0 auto;
        background-color: pink;
      }

      .img {
        text-align: center;
        margin-bottom: 45px;
      }

      .next {
        @include fz(9);
        font-weight: 300;
        @extend %robot;
        text-align: center;
        letter-spacing: 0.06em;
        padding-bottom: 13px;
      }

      .barL {
        width: 1px;
        height: 32px;
        background-color: #000;
        margin: 0 auto;
      }
    }

    .whiteArea {
      background-color: #fff;
      color: #000;
    }

    /*
    *
    *   next project
    *
    */
    .nextProject {
      padding-top: 46px;
      padding-bottom: 30px;
      background-color: #3E3E3E;
    
      .tit {
        padding-bottom: 15px;
        
        @include fz(32);
        font-weight: 100;
        @extend %alegsc;
        letter-spacing: 0.06em;
        text-align: center;
      }
      .subTit {
        padding-bottom: 22px;
        text-align: center;
        letter-spacing: 0.06em;
        
        @include fz(9);
        font-weight: 300;
        @extend %noto;
      }
      .imgWrap {
        padding-left: 25px;
        margin-bottom: 22px;
        box-sizing: border-box;
      }
      .details, .tag {
        @include fz(9);
        font-weight: 300;
        @extend %robot;
        text-align: center;
        letter-spacing: 0.06em;
        padding-bottom: 18px;
      }

      /*
      *
      *   detail box
      *
      */
      .detailBox {
        width: 65px;
        height: 65px;
        background-color: #181818;
        
        color: #fff;
        @include fz(9);
        font-weight: 300;
        @extend %robot;
        display: table;
        text-align: center;
        letter-spacing: 0.06em;
        position: relative;
        
        span {
          display: table-cell;
          vertical-align: middle;
        }
        
        .bar {
          width: 35px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          margin: 0 auto;
          bottom: 19px;
        }
        
      }

    }


  }
}