@charset "utf-8";

#technology {

  .bodyInner {
    background-color: #eee;
  }

  /* --------------------------------------------------------------------------------
  *
  *   header
  *
  -------------------------------------------------------------------------------- */

  #header {
    z-index: 1;
    color: #fff;
    mix-blend-mode: exclusion;
    
  }

  /* --------------------------------------------------------------------------------
  *
  *   top visual
  *
  -------------------------------------------------------------------------------- */
  
  /*
  *
  *   top visual
  *
  */
  #topVisualWrap {

    background-color: #eee;

    .bg {
      height: 100%;
      width: 100%;
      
      position: fixed;
      left: 0;
      top: 0;
      
      // @include media-min('SP') {
      //  position: static;
      //  min-height: 568px;
      // }
    }

    .pjaxMotion {
      height: 100%;
    }
    
    #topVisual {
      padding: 0 40px;
      color: #000;
      // mix-blend-mode: exclusion;
      
      width: 100%;
      box-sizing: border-box;
      
      z-index: 2;
      
      width: 375px;
      height: 314px;
      
      .tit {
        @include fz(36);
        font-weight: 100;
        @extend %alegsc;
        
        letter-spacing: 0.10em;
        margin-bottom: 25px;
        
        text-transform: uppercase;

        // text-align: justify;
        // text-justify: inter-ideograph;
      }
      .tit:nth-of-type(2) {letter-spacing: 0.01em;}
      .tit:nth-of-type(3) {letter-spacing: -0.05em !important;}
      .tit:nth-of-type(4) {letter-spacing: 0.03em;}
      .tit:nth-of-type(5) {letter-spacing: 0.05em;}

      .text {
       @include fz(9);
       font-weight: 400;
       @extend %noto;
       
       // position: absolute;
       // bottom: -35px;
       // left: 44px;
       letter-spacing: .04em;

      }

    }

    .barL {
      width: 1px;
      height: 32px;
      background-color: #000;
      margin-top: 48% !important;
    }

  }
  
  /* --------------------------------------------------------------------------------
  *
  *   detail
  *
  -------------------------------------------------------------------------------- */
  .detail {

    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    
    overflow: scroll;
    
    z-index: 1;
    
    .scrollArea {background-color: rgba(0,0,0,.75);}
    
    .tit {
      padding-top: 75px;
      padding-bottom: 15px;
      text-align: center;
      line-height: 1.1;
      letter-spacing: 0.06em;
      
      @include fz(32);
      font-weight: 100;
      @extend %alegsc;
    }

    .subTit {
      padding-bottom: 22px;
      text-align: center;
      letter-spacing: 0.06em;
      
      @include fz(9);
      font-weight: 300;
      @extend %noto;
    }

    .video {
      width: 295px;
      height: 165px;
      margin-bottom: 32px;
      margin: 0 auto;
      display: block;
      
      background-color: pink;
    }

    .text {
      @include fz(10);
      font-weight: 100;
      @extend %noto;
      letter-spacing: 0.04em;
      line-height: 2;
      padding: 0 40px 30px;
    }

    /*
    *
    *   playbox
    *
    */
    .playBox {
      width: 65px;
      height: 65px;
      
      background-color: #181818;
      color: #fff;
      @include fz(9);
      font-weight: 300;
      @extend %robot;
      display: table;
      text-align: center;
      letter-spacing: 0.06em;
      position: relative;
      
      span {
        display: table-cell;
        vertical-align: middle;
      }
      
      .bar {
        width: 25px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        margin: 0 auto;
        bottom: 19px;
      }
      
    }

    /*
    *
    *   close
    *
    */
    .ui__menu_btn_c {
      width: 44px;
      height: 44px;
      
      position: absolute;
      right: 0;
      top: 59px;
      
      .bar {
        width: 16px;
        height: 1px;
        background-color: #fff;
        
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
      }
      .bar:nth-child(1){
        transform: rotate(45deg);
      }
      .bar:nth-child(2){
        transform: rotate(-45deg);
      }
    }

  }

  /* --------------------------------------------------------------------------------
  *
  *   contents
  *
  -------------------------------------------------------------------------------- */
  #contents {

    padding-top: 100vh;
    
    /*
    *
    *   block
    *
    */
    .block {
      
      background: rgba(63,63,63,.8);
      
      .tit {
        padding-top: 45px;
        padding-left: 25px;
        margin-bottom: 30px;
        
        @include fz(18);
        font-weight: 300;
        @extend %aleg;
        letter-spacing: 0.06em;
      }
      
    }

    /*
    *
    *   casestudy
    *
    */
    #casestudy {

      background: rgba(255,255,255,.8);
      color: #000;
    
      .boxWrap {
        padding: 0 40px 30px;
      }
      .boxWrap:last-child {
        padding-bottom: 45px;
      }
      .box {width: 44%;}
      .box .text{margin-bottom: 15px;}

      .text {
        @include fz(15);
        font-weight: 500;
        @extend %aleg;
        letter-spacing: 0.04em;
        line-height: 1.26;
      }
      .subText {
        @include fz(9);
        font-weight: 100;
        @extend %noto;
        letter-spacing: 0.04em;
      }

      .imgWrap {
        position: relative;
        margin-bottom: 15px;
      }
      .detailBox {
        width: 65px;
        height: 65px;
        
        color: #fff;
        @include fz(9);
        font-weight: 300;
        @extend %robot;
        display: table;
        text-align: center;
        letter-spacing: 0.06em;
        position: relative;
        
        span {
          display: table-cell;
          vertical-align: middle;
        }
        
        .bar {
          width: 35px;
          height: 1px;
          background-color: #fff;
          position: absolute;
          margin: 0 auto;
          bottom: 19px;
        }
        
      }
      
    }

    /*
    *
    *   article
    *
    */
    #article {

      color: #fff;
      padding-bottom: 65px;
      
      .box {
        padding-bottom: 30px;
      
        .date, .text {
          @include fz(10);
          font-weight: 100;
          @extend %noto;
          letter-spacing: 0.04em;
        }

        .date {
          padding-left: 25px;
          padding-bottom: 15px;
        }
        .text {
          padding: 0 40px;
          line-height: 2;
          text-decoration: underline;
        }

      }

    }

  }

  /* --------------------------------------------------------------------------------
  *
  *   landscape
  *
  -------------------------------------------------------------------------------- */
  &.landscape #topVisualWrap .pjaxMotion{height: 100vh !important;min-height: 320px !important;}
  &.landscape #contents{padding-top: 0 !important;}

}