@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   layout
*
-------------------------------------------------------------------------------- */
// 幅
$maxWidth: 960px;
$minWidth: 300px;

/* --------------------------------------------------------------------------------
*
*   color
*
-------------------------------------------------------------------------------- */

// テキスト
$font-color: #000;

// 背景
$bg-color: #eee;

// リンク
$link-color: #fff;
$link-colorHover: #fff;
$link-colorVisited: #fff;
$link-colorActive: #fff;

/* --------------------------------------------------------------------------------
*
*   font
*
-------------------------------------------------------------------------------- */

// フォント
$font: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
// $font_century: CenturyGothicStd, 'Century Gothic', 'CenturyGothic', Futura, 'Arial', sans-serif;
// $font: Meiryo, メイリオ,'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
// $base_font: "Source Code Pro", "メイリオ", "Meiryo", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
// $base_font: "Source Code Pro", "メイリオ", "Meiryo", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;

// サイズ
$font-size: 16;
// $font-size: 10;

/*
*
*   noto sans
*
*/
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/font/NotoSansCJKjp-Thin.eot'); /* IE9 Compat Modes */
    src: url('/assets/font/NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/font/NotoSansCJKjp-Thin.woff') format('woff'), /* Modern Browsers */
    url('/assets/font/NotoSansCJKjp-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/font/NotoSansCJKjp-Light.eot');
    src: url('/assets/font/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-Light.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/font/NotoSansCJKjp-DemiLight.eot');
    src: url('/assets/font/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-DemiLight.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/NotoSansCJKjp-Regular.eot');
    src: url('/assets/font/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-Regular.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/font/NotoSansCJKjp-Medium.eot');
    src: url('/assets/font/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-Medium.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/font/NotoSansCJKjp-Bold.eot');
    src: url('/assets/font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-Bold.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/font/NotoSansCJKjp-Black.eot');
    src: url('/assets/font/NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/NotoSansCJKjp-Black.woff') format('woff'),
    url('/assets/font/NotoSansCJKjp-Black.ttf')  format('truetype');
}

/*
*
*   roboto
*
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);

/*
*
*   alegreya
*
*/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100|Alegreya+Sans+SC:400,300,100);


/* --------------------------------------------------------------------------------
*
*   easing
*
-------------------------------------------------------------------------------- */
$ease              : cubic-bezier(.25, .1, .25, 1);
$easeIn           : cubic-bezier(.42, .0, 1, 1);
$easeOut          : cubic-bezier(.0, .0, .58, 1);
$easeInOut       : cubic-bezier(.42, .0, 0.58, 1);
$easeInSine      : cubic-bezier(.47, 0, .745, .715);
$easeOutSine     : cubic-bezier(.39, .575, .565, 1);
$easeInOutSine  : cubic-bezier(.445, .05, .55, .95);
$easeInQuad      : cubic-bezier(.55, .085, .68, .53);
$easeOutQuad     : cubic-bezier(.25, .46, .45, .94);
$easeInOutQuad  : cubic-bezier(.455, .03, .515, .955);
$easeInCubic     : cubic-bezier(.55, .055, .675, .19);
$easeOutCubic    : cubic-bezier(.215, .61, .355, 1);
$easeInOutCubic : cubic-bezier(.645, .045, .355, 1);
$easeInQuart     : cubic-bezier(.895, .03, .685, .22);
$easeOutQuart    : cubic-bezier(.165, .84, .44, 1);
$easeInOutQuart : cubic-bezier(.77, 0, .175, 1);
$easeInQuint     : cubic-bezier(.755, .05, .855, .06);
$easeOutQuint    : cubic-bezier(.23, 1, .32, 1);
$easeInOutQuint : cubic-bezier(.86, 0, .07, 1);
$easeInExpo      : cubic-bezier(.95, .05, .795, .035);
$easeOutExpo     : cubic-bezier(.19, 1, .22, 1);
$easeInOutExpo  : cubic-bezier(1, 0, 0, 1);
$easeInCirc      : cubic-bezier(.6, .04, .98, .335);
$easeOutCirc     : cubic-bezier(.075, .82, .165, 1);
$easeInOutCirc  : cubic-bezier(.785, .135, .15, .86);
$easeInBack      : cubic-bezier(.6, -.28, .735, .045);
$easeOutBack     : cubic-bezier(.175, .885, .32, 1.275);
$easeInOutBack  : cubic-bezier(.68, -.55, .265, 1.55);


/* --------------------------------------------------------------------------------
*
*   prefix
*
-------------------------------------------------------------------------------- */

// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';


/* --------------------------------------------------------------------------------
*
*   media query
*
-------------------------------------------------------------------------------- */
// ブレイクポイントを変数指定
$bpTAB: 1024px;
$maxBpSP: 980px;
$minBpSP: 981px;


/* --------------------------------------------------------------------------------
*
*   font-size対応表
*
-------------------------------------------------------------------------------- */

/*  ================================================================================
Base font = 12px
================================================================================ */

// 10px    font-size: 0.8333em; 
// 11px    font-size: 0.9167em; 
// 12px == font-size: 1em;
// 13px    font-size: 1.0833em; 
// 14px    font-size: 1.1667em; 
// 15px    font-size: 1.25em; 
// 16px    font-size: 1.3333em; 
// 17px    font-size: 1.4167em; 
// 18px    font-size: 1.5em; 
// 19px    font-size: 1.5833em; 
// 20px    font-size: 1.6667em; 
// 21px    font-size: 1.75em; 
// 22px    font-size: 1.8333em; 
// 23px    font-size: 1.9167em; 
// 24px    font-size: 2em
// 25px    font-size: 2.0833em; 
// 26px    font-size: 2.1667em; 
// 27px    font-size: 2.25em; 
// 28px    font-size: 2.3333em; 
// 29px    font-size: 2.4167em; 
// 30px    font-size: 2.5em; 
// 31px    font-size: 2.5833em; 
// 32px    font-size: 2.6667em; 
// 33px    font-size: 2.75em; 
// 34px    font-size: 2.8333em; 
// 35px    font-size: 2.9167em; 
// 36px    font-size: 3em
// 37px    font-size: 3.0833em; 
// 38px    font-size: 3.1667em; 
// 39px    font-size: 3.25em; 
// 40px    font-size: 3.3333em; 
// 41px    font-size: 3.4167em; 
// 42px    font-size: 3.5em; 


/* ================================================================================
Base font = 13px
================================================================================ */

// 10px    font-size: 0.7692em;
// 11px    font-size: 0.8462em;
// 12px    font-size: 0.9231em;
// 13px == font-size: 1em;
// 14px    font-size: 1.0769em;
// 15px    font-size: 1.1538em;
// 16px    font-size: 1.2308em;
// 17px    font-size: 1.3077em;
// 18px    font-size: 1.3846em;
// 19px    font-size: 1.4615em;
// 20px    font-size: 1.5385em;
// 21px    font-size: 1.6154em;
// 22px    font-size: 1.6923em;
// 23px    font-size: 1.7692em;
// 24px    font-size: 1.8462em;
// 25px    font-size: 1.9231em;
// 26px    font-size: 2em;
// 27px    font-size: 2.0769em;
// 28px    font-size: 2.1538em;
// 29px    font-size: 2.2308em;
// 30px    font-size: 2.3077em;
// 31px    font-size: 2.3846em;
// 32px    font-size: 2.4615em;
// 33px    font-size: 2.5385em;
// 34px    font-size: 2.6154em;
// 35px    font-size: 2.6923em;
// 36px    font-size: 2.7692em;
// 37px    font-size: 2.8462em;
// 38px    font-size: 2.9231em;
// 39px    font-size: 3em;
// 40px    font-size: 3.0769em;
// 41px    font-size: 3.1538em;
// 42px    font-size: 3.2308em;


// /* ================================================================================
// Base font = 14px
// ================================================================================ */

// 10px    font-size: 0.7143em;
// 11px    font-size: 0.7857em;
// 12px    font-size: 0.8571em;
// 13px    font-size: 0.9286em;
// 14px == font-size: 1em; 
// 15px    font-size: 1.0714em;
// 16px    font-size: 1.1429em;
// 17px    font-size: 1.2143em;
// 18px    font-size: 1.2857em;
// 19px    font-size: 1.3571em;
// 20px    font-size: 1.4286em;
// 21px    font-size: 1.5em;
// 22px    font-size: 1.5714em;
// 23px    font-size: 1.6429em;
// 24px    font-size: 1.7143em;
// 25px    font-size: 1.7857em;
// 26px    font-size: 1.8571em;
// 27px    font-size: 1.9286em;
// 28px    font-size: 2em; 
// 29px    font-size: 2.0714em;
// 30px    font-size: 2.1429em;
// 31px    font-size: 2.2143em;
// 32px    font-size: 2.2857em;
// 33px    font-size: 2.3571em;
// 34px    font-size: 2.4286em;
// 35px    font-size: 2.5em; 
// 36px    font-size: 2.5714em;
// 37px    font-size: 2.6429em;
// 38px    font-size: 2.7143em;
// 39px    font-size: 2.7857em;
// 40px    font-size: 2.8571em;
// 41px    font-size: 2.9286em;
// 42px    font-size: 3em;


/* ================================================================================
Base font = 15px
================================================================================ */

// 10px    font-size: 0.6667em;
// 11px    font-size: 0.7333em;
// 12px    font-size: 0.8em;
// 13px    font-size: 0.8667em;
// 14px    font-size: 0.9333em;
// 15px == font-size: 1em; 
// 16px    font-size: 1.0667em;
// 17px    font-size: 1.1333em;
// 18px    font-size: 1.2em;
// 19px    font-size: 1.2667em;
// 20px    font-size: 1.3333em;
// 21px    font-size: 1.4em;
// 22px    font-size: 1.4667em;
// 23px    font-size: 1.5333em;
// 24px    font-size: 1.6em;
// 25px    font-size: 1.6667em;
// 26px    font-size: 1.7333em;
// 27px    font-size: 1.8em;
// 28px    font-size: 1.8667em;
// 29px    font-size: 1.9333em;
// 30px    font-size: 2em;
// 31px    font-size: 2.0667em;
// 32px    font-size: 2.1333em;
// 33px    font-size: 2.2em;
// 34px    font-size: 2.2667em;
// 35px    font-size: 2.3333em;
// 36px    font-size: 2.4em;
// 37px    font-size: 2.4667em;
// 38px    font-size: 2.5333em;
// 39px    font-size: 2.6em;
// 40px    font-size: 2.6667em;
// 41px    font-size: 2.7333em;
// 42px    font-size: 2.8em;


/* ================================================================================
Base font = 16px
================================================================================ */

// 10px    font-size: 0.625em;
// 11px    font-size: 0.6875em;
// 12px    font-size: 0.75em;
// 13px    font-size: 0.8125em;
// 14px    font-size: 0.875em;
// 15px    font-size: 0.9375em;
// 16px == font-size: 1em;
// 17px    font-size: 1.0625em;
// 18px    font-size: 1.125em;
// 19px    font-size: 1.1875em;
// 20px    font-size: 1.25em;
// 21px    font-size: 1.3125em;
// 22px    font-size: 1.375em;
// 23px    font-size: 1.4375em;
// 24px    font-size: 1.5em;
// 25px    font-size: 1.5625em;
// 26px    font-size: 1.625em;
// 27px    font-size: 1.6875em;
// 28px    font-size: 1.75em;
// 29px    font-size: 1.8125em;
// 30px    font-size: 1.875em;
// 31px    font-size: 1.9375em;
// 32px    font-size: 2em;
// 33px    font-size: 2.0625em;
// 34px    font-size: 2.125em;
// 35px    font-size: 2.1875em;
// 36px    font-size: 2.25em;
// 37px    font-size: 2.3125em;
// 38px    font-size: 2.375em;
// 39px    font-size: 2.4375em;
// 40px    font-size: 2.5em;
// 41px    font-size: 2.5625em;
// 42px    font-size: 2.625em;