<!-- ************************************************************
//
//  menu
//
// ************************************************************ -->
<div class="ui__menu pjaxMotion">
  <ul class="itemWrap adjustH">
    <li class="item fzLiquid"><a class="pjax" href="/">TOP</a></li>
    <li class="item fzLiquid"><a class="pjax" href="/about">ABOUT</a></li>
    <li class="item fzLiquid"><a class="pjax" href="/project">PROJECT</a></li>
    <li class="item fzLiquid"><a class="pjax" href="/technology">TECHNOLOGY</a></li>
    <li class="item fzLiquid"><a class="pjax" href="/contact">CONTACT</a></li>
  </ul>

  <div class="ui__menu_btn_c adjustW">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>